yfinance
pandas
configparser
finam-export
googlefinance
matplotlib
mplfinance
aiomoex
asyncio
aiohttp
tradingview-ta

# For next library you can build it from source (External_libs --> Ta-lib --> Ta-lib_source) or use "pip install External_libs\Ta-lib\Ta-lib[choose your version].whl"
Ta-lib